
body {
    width:414px;
    background-color:cyan;
    }
    
    .header {
    width:414px;
    background-color:#cf2b2b;
    }
    .main-container {
        background-color:blueviolet;
    }
    
    .container{
    background-color:#e5e5e5;
    display:flex;
    }
    
    .product{
    width:172px;
    height:216px;
    background-color: #ffffff;
    }
  